
{% extends "movies/base.html" %}

{% block title %}
My Movies
{% endblock %}

{% block content %}

    

    <h1>Submit a movie title</h1>

    <form method="POST" action='/movies/'>
        
        <input id="id_movie_title" name="movie_title" placeholder="Submit a movie title"/>
        {% csrf_token %}
    </form>

    <h2>My Favorite Movies</h2>
    {% if movie_list %}
        <ul id="id_movies_list">

            {% for movie in movie_list %}

                <li>{{ movie.title }} ({{ movie.year }}). Running time {{ movie.runtime }}. Rated: {{ movie.rated }} </li>

            {% endfor %}

        </ul>

    {% else %}

        <p>No movies have been added yet.</p>

    {% endif %}

{% endblock %}
