<!DOCTYPE html>
<html>
<head>
    <title>Movie Search</title>
</head>
<body>
    <h2>Movie Search Results</h2>

    <div id="id_movie_results">

    {% if movie_results %}
    <form method="post" action="/">
        {% csrf_token %}
        <input id="submit_button" type="submit" value="Save Movie">
        <table id="id_movie_table">
        {% for movie in movie_results %}
            <tr>
                <td>
                    <img src="{{ movie.poster}}">
                </td>
                <td>
                    <input type="radio" name="movie_title" id="{{movie.title}}" value="{{movie.title}}">{{movie.title}}
                    <p>Released: {{movie.year}}</p>
                </td>
            </tr>
        {% endfor %}
        </table>
        
    </form>
    {% else %}

        <p id="id_no_results">No results found. <a href='/'>Search again?</a></p>

    {% endif %}
    </div>
</body>
</html>
