
{% extends "movies/base.html" %}

{% block title %}
My Movies
{% endblock %}

{% block content %}
<body>
    <h2>Movie Search Results</h2>

    <div id="id_movie_results">

    {% if movie_results %}
    <form method="post" action="/">
        {% csrf_token %}
        <input id="submit_button" type="submit" value="Save Movie">
        <table id="id_movie_table">
        {% for movie in movie_results %}
            <tr>
                <td>
                    <!-- TODO if not in database different detail display -->
                    <a href="{{movie.imdb_id}}"><img src="{{ movie.poster }}"</a>
                    <!-- not sure why below not working -->
                    <!-- <a href="{{ movie.get_absolute_url }}"><img src="{{ movie.poster}}"></a> -->
                    <img src="{{ movie.poster }}">
                </td>
                <td>
                    <input type="radio" name="imdb_id" id="{{movie.imdb_id}}" value="{{movie.imdb_id}}">{{movie.title}}
                    <p>Released: {{movie.year}}</p>
                </td>
            </tr>
        {% endfor %}
        </table>
        
    </form>
    {% else %}

        <p id="id_no_results">No results found. <a href='/'>Search again?</a></p>

    {% endif %}
    </div>
{% endblock %}
